<h1>Edit</h1>
<%= simple_form_for(@weapon) do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :localisation %>
  <%= f.submit 'Edit my weapon' %>
<% end %>
