<h1>Weapons</h1>
<div class="cards">
  <% @weapons.each do |weapon| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path weapon.photo.key %>)">
          <%= link_to weapon.name, weapon_path(weapon) %>
    </div>
  <%#= link_to weapon.name, weapon_path(weapon) %>
  <%#= cl_image_tag weapon.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>
<div id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<%= link_to 'Add a weapon', new_weapon_path  %>

