<div class="container">
  <div class="col-12">
    <h1 class="d-flex justify-content-center">Add a weapon</h1>
    <div class="d-flex justify-content-center mt-2">
    <%= simple_form_for(@weapon) do |f| %>
      <%= f.input :name, placeholder: 'Name', label: false %>
      <%= f.input :category, placeholder: 'Category', label: false  %>
      <%= f.input :price, placeholder: 'Price', label: false  %>
      <%= f.input :localisation, placeholder: 'Localisation', label: false  %>
      <%= f.input :photo, as: :file %>
      <%= f.submit 'Add my weapon' %>
    <% end %>

    </div>
  </div>
</div>
