<div class="container">
  <div class="flexbox ">
    <div class="weapon-intro-review">
      <div class="weapon-card my-4 p-4">
        <div class=" d-flex justify-content-center">
          <%  if @weapon.photo.present?  %>
            <%= cl_image_tag @weapon.photo.key, height: 400, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag("image-not-found.jpg", height: 400, width: 500, crop: :fill) %>
          <% end  %>
        </div>
        <div class="weapon-infos-card">
          <br>
          <br>
          <h3><%= @weapon.name %></h3>
          <p>Category: <%= @weapon.category %></p>
          <p><%= @weapon.price %> € / day</p>
          <p><%= @weapon.localisation %></p>
        </div>
      </div>
      <div>
        <%= link_to 'Back to weapons', weapons_path, class: "btn btn-secondary rounded" %>
        <% if current_user == @weapon.user  || current_user.admin? %>
          <%= link_to weapon_path(@weapon), method: :delete, class: "btn btn-danger rounded", data: { confirm: "Are you sure?" } do %>
            Delete
          <% end %>
          <%= link_to 'Edit', edit_weapon_path(@weapon), class: "btn btn-warning rounded"%>
        <% end %>
      </div>
      <div class="weapon-card my-4 p-4">
        <h5>Reviews</h5>
        <% @weapon.bookings.each do |booking|%>
            <% booking.reviews.each do |review| %>
            <p><strong><%= review.booking.user.email %></strong></p>
        <hr>
            <p><%= review.rating %> / 5 - "<%= review.content %>"</p>
            <% end %>
          <% end %>
      </div>
    </div>


    <div class="weapon-card m-4 p-4 form-booking-card ">
      <%= simple_form_for [@weapon, @booking] do |f| %>
          <%= f.hidden_field :weapon_id %>
          <br>
          <br>
          <p class="calendar"> From : </p>
          <input type="text" class="flatpickr" name="start_date">
          <br>
          <p class="calendar"> Until : </p>
          <input type="text" class="flatpickr" name="end_date">
          <br>
          <p class= "total">  Total cost : <%= @weapon.price  %> €</p>
          <%#= f.input_field :start_date, input_html: { class: 'flatpickr' } %>
          <%#= f.input_field :end_date, input_html: { class: 'flatpickr' } %>
          <%= f.submit "Réservez cette arme", class: "btn btn-primary rounded", id: "hey"%>
      <% end %>
    </div>
<%#= simple_form_for [@weapon, @booking] do |f| %>
    <%#= f.input :bookingdate %>
    <%#= f.submit "Réservez cette arme" %>
<%# end %>


<%#= simple_form_for(@weapon) do |f| %>
    <%#= f.input :date %>
<%# end %>

</div>


