<div class="container">
  <div class="flexbox ">
    <div class="weapon-intro-review">
      <div class="weapon-card my-4 p-4">
        <%  if @weapon.photo.present?  %>
          <%= cl_image_tag @weapon.photo.key, height: 400, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag("image-not-found.jpg", height: 400, width: 500, crop: :fill) %>
        <% end  %>
        <div class="weapon-infos-card">
          <h3><%= @weapon.name %></h3>
          <p>Category: <%= @weapon.category %></p>
          <p><%= @weapon.price %> € / day</p>
          <p><%= @weapon.localisation %></p>
        </div>
      </div>
      <div>
        <%= link_to 'Back to weapons', weapons_path, class: "btn btn-secondary rounded" %>
        <%= link_to weapon_path(@weapon), method: :delete, class: "btn btn-danger rounded", data: { confirm: "Are you sure?" } do %>
          Delete
        <% end %>
        <%= link_to 'Edit', edit_weapon_path(@weapon), class: "btn btn-warning rounded"%>
      </div>
      <div class="weapon-card my-4 p-4">
        <h5>Reviews</h5>
        <% @weapon.bookings.each do |booking|%>
            <% booking.reviews.each do |review| %>
            <p><strong><%= review.booking.user.email %></strong></p>
            <p><%= review.rating %> / 5 - "<%= review.content %>"</p>
            <% end %>
          <% end %>
      </div>
    </div>

    <div class="weapon-card my-4 p-4 form-booking-card">
      <%= simple_form_for [@weapon, @booking] do |f| %>
          <%= f.input :bookingdate %>
          <%= f.submit "Réservez cette arme", class: "btn btn-primary rounded"%>
      <% end %>
    </div>

</div>
