<h1><%= @weapon.name %></h1>
<p><%= @weapon.category %></p>
<p><%= @weapon.price %></p>
<p><%= @weapon.localisation %></p>
<%= cl_image_tag @weapon.photo.key, height: 300, width: 400, crop: :fill %>

<% @weapon.bookings.each do |booking|%>
    <% booking.reviews.each do |review| %>
    <%= review.content %>
    <% end %>
  <% end %>


<%= simple_form_for [@weapon, @booking] do |f| %>
    <%= f.input :bookingdate %>
    <%= f.submit "Réservez cette arme" %>
<% end %>


<%#= simple_form_for(@weapon) do |f| %>
    <%#= f.input :date %>
<%# end %>


<%= link_to 'Back to weapons', weapons_path %>
<%= link_to weapon_path(@weapon), method: :delete, data: { confirm: "Are you sure?" } do %>
  Delete
<% end %>
<%= link_to 'Edit', edit_weapon_path(@weapon) %>
